@import '../../src/scss/variables';

.contactsContainer {
  @include displayCenter();
  flex-direction: column;
}

.flexBlock {
  margin-bottom: 70px;
  height: 448px;

  &__textBlock {
    @include displayCenter();
  }

  &__title {
    @include subTitle();
    margin: 25px 0px 25px 0px;
    width: 309px;
    height: 96px;
    text-align: center;
  }

  &__textWidthInput {
    position: relative;
  }

  &__topInputText {
    font-family: $fontLora;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    color: $blue;
  }

  &__inputEmail {
    @include inputEmail();

    &:focus {
      border: 2px solid $darkBlue;
    }
  }

  &__invalidInput {
    @include inputEmail();

    &:focus {
      border: 2px solid #FF0000;
    }
  }

  &__topInputText {
    position: absolute;
    top: 8px;
    left: 12px;
  }

  &__errorText {
    display: none;
  }

  &__errorTextActive {
    display: inline;
    font-family: $fontInter;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    color: #FF0000;
  }
}

.btnContinue {
  @include continueBtn();

  &:disabled {
    border: 2px solid #E4E7EB;
    border-radius: 10px;
    background-color: transparent;
    font-family: $fontJakarta;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: #A7A7A7;
  }
}