@import '../../src/scss/variables';

.redirectContainer {
  @include displayCenter();
  padding-top: 25px;
}

.flexBlock {
  @include displayCenter();
  flex-direction: column;
  max-width: 342px;

  &__title {
    @include subTitle();
    margin-bottom: 24px;
    font-weight: 600;
    text-align: center;
  }

  &__loader {
    position: relative;
  }

  &__progress {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 8px solid #0CBD68;
    border-top: 8px solid #ecf0f1;
    animation: spin 1s linear infinite;
  }

  &__percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 56px;
    font-family: $fontLora;
    font-weight: 600;
    font-size: 40px;
    color: #000000;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  &__list {
    @include bodyText();
    margin-top: 35px;
    border: 1px solid $greyBorder;
    border-radius: 10px;
    list-style: none;
   
    &__item {
      padding: 12px 12px 12px 48px;
      border-bottom: 1px solid $greyBorder;
    }
    &__item:last-child {
      border-bottom: none;
    }
  }
} 